body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 100px;
  height: 100%;
}

b {
  font-weight: 700;
}

h1 {
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 300;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
}

.range {
  font-weight: 700;
  font-size: 14px;
}

/* standard button */
.btn-primary {
  color: white;
  background-color: #41948E; /*emerald green*/
  border-color: #41948E; /*emerald green*/
}

.btn-primary:hover {
  color: white;
  background-color: #1f635f; /*dark green*/
  border-color: #1f635f; /*dark green*/
}


.terms li {
  padding-bottom: 5px;
}

/* container for the navbar*/
.container-fluid {
  margin: 20px;
}


/* navbar background */
.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-brand:hover {
    color: #41948E; /*emerald green*/
}

/* active — the page you're currently on */
.navbar-default .navbar-nav>.active>a {
  color: #41948E; /*emerald green*/
  font-weight: 700;
  background: none;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: #41948E; /*emerald green*/
  font-weight: 700;
  background: none;
}


/* not active */
.navbar-default .navbar-nav>li>a {
  color: #A1A1A1; /*light gray*/
  font-weight: 600;
  }

.navbar-default .navbar-nav>li>a:hover {
    color: #41948E; /*emerald green*/
  }

/* navigation bar drop shadow */
body > #header{position:fixed;}

  #header {
      width: 100%;
      position: fixed;
      z-index:100;
      overflow: auto;
      transition: all 0.15s linear;
  }

  #header.active {
       box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }


  /* sliders https://www.cssportal.com/style-input-range/*/
  input[type=range] {
    height: 28px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #c4c4c4;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #000000;
    border: 1px solid #285C58;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    background: #285C58;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c4c4c4;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #c4c4c4;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 2px #000000;
    border: 1px solid #285C58;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    background: #285C58;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #41948E;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #c4c4c4;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #000000;
    border: 1px solid #285C58;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    background: #285C58;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #41948E;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #41948E;
  }
